ul#navigation{
  margin: 0;
  padding: 0;
}

li.nav_bar {
  list-style-type: none;
  margin: 2vw 2vw;
  font-size: 7vh;
  text-align:center;
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Garamond', 'Georgia', serif;
}

.nav_bar a:hover, .show_more a:hover{
  background-color: #C6E9FF;
}

a.setting_links {
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 24px;
  color: brown;
  font-weight: bold;
}

nav{
  width: 100vw;
}

input {
  font-family: 'Garamond', 'Georgia', serif;
  border-radius: 20px;
}

input.chat_input{
  height: 60px;
  width: 700px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 25px;
}

.context_input {
  font-family: 'Garamond', 'Georgia', serif;
  border-radius: 20px;
  height: 150px;
  width: 350px;
  font-size: 20px;
  margin-left: 25px;
  text-align:center;
  line-height: 40px;
}

.message {
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 15px;
}

.bot_message .message {
  padding-right: 30px;
}

.user_message .message {
  padding-left: 30px;
}

.user_message {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 0;
  border-radius: 30px;
  text-align: left;
}

.user_message::after {
  content: "";
  clear: both;
  display: table;
}

.bot_message {
  border-color: #ccc;
  background-color: #ddd;
  padding: 8px;
  margin: 0 0;
  border-radius: 40px;
  text-align: right;
}

.bot_message::after {
  content: "";
  clear: both;
  display: table;
}

.chat_area {
  max-height: 400px;
  width: 700px;
  padding: 20px 20px;
  margin-top: 40px;
  margin-left: 10px;
  overflow-y:auto
}

.show_more {
  float: right;
  margin-right: 20px;
}

.settings {
  margin-left: 60px;
}

.label_text {
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 18px;
}

.error {
  color: darkred;
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 16px;
  text-align: center;
}

.modal_class {
  position: fixed;
  text-align: center; 
  height: 50%;
  width: 50%; 
  top: 18%;
  left: 45%;
  z-index: 11111; 
}

.modal_content {
  background-color: #fff; 
  box-shadow: 10px 10px 60px #555; 
  max-width: 550px; 
  min-height: 250px; 
  padding: 15px 5%; 
  margin-top: 10%; 
  margin-left: 25%
}

.popup_close_button {
  position: relative; 
  top: -60px; 
  right: -25px; 
  font-size: 20px; 
  float: right;
}