ul#navigation{
  margin: -10px 0 0 0;
  padding: 0;
  /*border-bottom: 5px solid #7a0000;*/
}

li.nav_bar {
  list-style-type: none;
  margin: 2vw 2vw;
  font-size: 7vh;
  text-align:center;
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Garamond', 'Georgia', serif;
}

.nav_bar a:hover{
  color: #5294e2;
}

.nav_domains {
  color: white;
}

a.setting_links {
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 24px;
  color: #3A94BA;
  font-weight: bold;
  float: right;
}

a.small_message {
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 16px;
  color: #3A94BA;
}

nav{
  width: 100vw;
}

input {
  font-family: 'Garamond', 'Georgia', serif;
  border-radius: 20px;
}

input.chat_input{
  height: 60px;
  width: 630px;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 25px;
}

.context_input {
  font-family: 'Garamond', 'Georgia', serif;
  border-radius: 20px;
  height: 150px;
  width: 350px;
  font-size: 20px;
  margin-left: 25px;
  text-align:center;
  line-height: 40px;
}

.message {
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 18px;
}

.bot_message .message {
  padding-right: 30px;
}

.user_message .message {
  padding-left: 30px;
}

.user_message {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 0;
  border-radius: 30px;
  text-align: left;
}

.user_message::after {
  content: "";
  clear: both;
  display: table;
}

.bot_message {
  border-color: #ccc;
  background-color: #ddd;
  padding: 8px;
  margin: 0 0;
  border-radius: 40px;
  text-align: right;
}

.bot_message::after {
  content: "";
  clear: both;
  display: table;
}

.chat_area {
  max-height: 400px;
  width: 630px;
  padding: 20px 20px;
  margin-top: 40px;
  margin-left: 10px;
  overflow-y:auto
}

.show_more {
  float: right;
  margin-right: 20px;
  margin-top: -10px;
}

.settings {
  margin-left: 60px;
  margin-top: 20px;
}

.label_text {
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 18px;
}

.error {
  color: darkred;
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 16px;
  text-align: center;
}

.modal_class {
  position: fixed;
  text-align: center; 
  height: 50%;
  width: 50%; 
  top: 18%;
  left: 45%;
  z-index: 11111;
}

.modal_content {
  background-color: #fff; 
  box-shadow: 10px 10px 60px #555; 
  height: auto;
  width: auto;
  padding: 15px 5%; 
  margin-top: 10%; 
  margin-left: 25%
}

.popup_close_button {
  position: relative; 
  right: -16px; 
  font-size: 20px; 
  float: right;
}


table {
  border-collapse: collapse;
  border: 4px solid rgb(200,200,200);
  letter-spacing: 2px;
  font-size: 14px;
  margin: 10px 10px;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

tr:nth-child(2) { 
  font-weight: bold;
  color: green; 
}

.bot_avatar {
  width: 60px;
  margin-top: 10px;
  float: left;
}

.user_avatar {
  width: 60px;
  float: right;
}

.bot_icon {
  width: 100px;
}
