<!doctype html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <div id="menu-bar" style="background-color: black;">
      <nav>
        <ul id="navigation" >
        {% for id, name in domains.items() %}
          {% if id==current %}
            <li class="nav_bar" style="display: inline"><a href="#{{id}}" class="nav_domains" style="color: #5294e2">{{ name }}</a></li>
          {% else %}
            <li class="nav_bar" style="display: inline"><a href="#{{id}}" class="nav_domains">{{ name }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
    
    <div id="error_div">
    </div>  

    <div style="display: flex; margin-top: 20px;">
      <div>
        <div class="info-box">
          <li class="nav_bar">
            <img src='/static/images/bot.jpg' alt='Bot Avatar' class='bot_icon'>
            <p class="message" style="color: #3A94BA;">Soochna is here for you!</p>
          </li>
        </div>
        <div class="chat_area" style="display: inline-grid;">
          <div class="bot_message" >
            <img src='/static/images/bot.jpg' alt='Bot Avatar' class='bot_avatar'>
            <p class="message">How can I help?</p>
          </div>
        </div>
        <div>
          <input type="input" id="input_query" class="chat_input" onkeypress="onQueryChange();" placeholder="Your query goes here.."></input>
        </div>
      </div>

      <div class="settings">
        <div style="display: flex">
          <a href="#" class="setting_links" id="show_settings"> Show settings</a>
          <a href="#" class="setting_links" id="hide_settings" style="display: none; float: right"> Hide settings</a>
        </div>  
        <form id="all_settings" action="#" style="display: none">
            <div style="display: flex; align-items: center; margin-top: 20px">
              <label class="label_text" for="context">Context:</label>
              <textarea class="context_input" name="context" placeholder="{'country': 'India', 'gender': 'female'}"></textarea> 
            </div>
            <div style="margin-top: 20px">
              <label class="label_text" for="use_context">Use Context:</label>
              <input type="radio" id="1" name="use_context" value=1 > T
              <input type="radio" id="2" name="use_context" value=0 checked> F
            </div>
            <div style="margin-top: 20px">
              <label class="label_text" for="threshold">Threshold:</label>
              <input type="radio" name="thresh" value="0.80" checked>0.80 
              <input type="radio" name="thresh" value="0.50">0.50 
              <input type="radio" name="thresh" value="0.20">0.20
            </div>
            <div style="margin-top: 20px">
              <label class="label_text" for="domain">Domain: </label>
              <input id="current_domain" type="text" name="domain" value="{{current}}" style="border-radius: 0px" class="label_text" readonly>
            </div>
        </form>
      </div>
    </div>

    <div id="more_info">
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>